{% extends '@Resources/layout.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{% endblock %}

{% block content %}

    <div class="swiper h-[100vh] z-1">
        <div class="swiper-wrapper">

            <div class="swiper-slide relative">
                <img class="object-cover h-screen w-full brightness-50" src="{{ asset('images/smile-ring.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/kiss.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/close-eyes.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/smile.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/look-3.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/look-2.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/look-4.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/look.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/kiss-hand.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/rotate-3.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/rotate-2.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/kiss-beauty-2.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/maybe.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-3 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/morango.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

{#            <div class="swiper-slide relative">#}
{#                <img class="object-cover object-top h-screen w-full brightness-50" src="{{ asset('images/kiss-beauty.jpg') }}" alt="Keilla & Matheus">#}
{#                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center ">#}
{#                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>#}
{#                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>#}
{#                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>#}
{#                    <div class="flex gap-3 md:gap-4" >#}
{#                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>#}
{#                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="swiper-slide relative">
                <img class="object-cover h-screen w-full brightness-50" src="{{ asset('images/front-back.jpg') }}" alt="Keilla & Matheus">
                <div class="px-2 md:px-0 absolute top-0 left-0 bottom-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-slate-50 text-5xl md:text-7xl mb-3 max-w-[340px] md:max-w-6xl great-vibes text-center">Keilla Carolina e Matheus</h1>
                    <span class="text-center text-[12px] font-semibold text-yellow-50 mb-0 marcellus" >#SAVETHEDATE</span>
                    <p class="mb-8"><small class="text-slate-50 text-md md:text-xl marcellus">08 de Novembro de 2025</small></p>
                    <div class="flex gap-2 md:gap-4" >
                        <a class="text-md md:text-lg bg-[#f9f3f46b] rounded px-3 md:px-5 py-2 backdrop-blur-xs hover:bg-slate-100 marcellus flex items-center" href="{{ path('app_presence') }}">Confirmar Presença</a>
                        <a class="text-md md:text-lg bg-slate-100 rounded px-3 md:px-5 py-2 backdrop-blur-xs marcellus flex items-center" href="{{ path('app_gift') }}">Lista de Presentes</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-scrollbar"></div>
    </div>


    <div class="py-24 bg-slate-100">
        <div class="container m-auto px-2 text-center">
            <h2 class="text-5xl mb-8 marcellus">Bem-vindos ao nosso grande dia!</h2>
            <p class="text-xl max-w-4xl m-auto mb-16 marcellus">
                É com imensa alegria que convidamos vocês para celebrar conosco o início da nossa nova jornada.
                Sua presença tornará este momento ainda mais que especial e inesquecível.
            </p>


            <h4 class="mb-2 marcellus">Faltam apenas...</h4>

            <div class="flex items-center justify-center w-full gap-6 count-down-main">
                <div class="grid auto-cols-max grid-flow-col gap-5 text-center">
                    <div class="timer bg-neutral rounded-box text-neutral-content flex flex-col p-2 marcellus">
                        <span class="marcellus text-5xl">
                          <span class="countdown-element days"></span>
                        </span>
                        dias
                    </div>
                    <div class="timer bg-neutral timer rounded-box text-neutral-content flex flex-col p-2 marcellus">
                        <span class="marcellus text-5xl">
                          <span class="countdown-element hours"></span>
                        </span>
                        horas
                    </div>
                    <div class="timer bg-neutral rounded-box text-neutral-content flex flex-col p-2 marcellus">
                        <span class="marcellus text-5xl">
                          <span class="countdown-element minutes"></span>
                        </span>
                        min
                    </div>
                    <div class="timer bg-neutral rounded-box text-neutral-content flex flex-col p-2 marcellus">
                        <span class="marcellus text-5xl">
                          <span class="countdown-element seconds"></span>
                        </span>
                        seg
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-8 mb-16 container mx-auto max-w-7xl px-2">

        <div class="flex flex-col md:flex-row justify-between gap-5 mb-12">
            <div class="w-full bg-slate-50 shadow py-12 px-4">
                <div class="text-center mb-3">
                    <i class="fa-regular fa-clock text-3xl"></i>
                </div>
                <div class="flex items-center justify-center text-center gap-5 mb-0">
                    <div class="mb-8">
                        <h2 class="text-2xl">Cronograma do Dia</h2>
                        <p class="text-md marcellus">Programação completa da cerimônia e restaurante.</p>
                    </div>
                </div>

                <p class="mb-12 marcellus text-center text-xs font-bold">08 de Novembro 2025</p>

                <div class="flex justify-between items-center">

                    <div>
                        <h6 class="text-lg marcellus">Cerimônia Religiosa</h6>
                        <p class="mb-4 text-sm marcellus">Igreja - Nossa Srª das Graças</p>
                    </div>

                    <div>
                        <strong class="marcellus">9:30</strong>
                    </div>

                </div>

                <hr class="mb-6 text-slate-300">

                <div class="flex justify-between items-center">

                    <div>
                        <h6 class="text-lg marcellus">Restaurante</h6>
                        <p class="mb-4 text-sm marcellus">Dimattoni</p>
                    </div>

                    <div>
                        <strong class="marcellus">12:00</strong>
                    </div>

                </div>

            </div>

            <div class="w-full bg-slate-50 shadow py-12 px-4">
                <div class="text-center mb-3">
                    <i class="fa-solid fa-location-dot text-3xl"></i>
                </div>
                <div class="flex items-center justify-center gap-5 mb-8">
                    <div class="text-center mb-8">
                        <h2 class="text-2xl marcellus">Local & Endereço</h2>
                        <p class="text-md marcellus">Como chegar na Igreja e no Restaurante.</p>
                    </div>
                </div>

                <div class="flex items-center justify-between gap-5 mb-8">
                    <div class="text-end flex h-60 lg:h-auto justify-between flex-col w-full">
                        <div>
                            <h6 class="marcellus mb-2 text-md font-semibold">Igreja Nossa Srª das Graças</h6>
                            <p class="marcellus">R. Américo Ribeiro, s/n</p>
                            <p class="marcellus">Porto Velho, São Gonçalo - RJ</p>
                            <p class="marcellus mb-3">CEP: 24426-460</p>
                        </div>
                        <a class="marcellus w-full ms-auto mr-0 my-0 text-center text-slate-50 py-2 block border rounded bg-gray-200 max-w-[220px] hover:bg-gray-300 transition duration-150" href="https://maps.app.goo.gl/LtynMMCyL9G2df1h8" target="_blank">
                            <img class="max-w-[100px] m-auto" src="{{ asset('images/g-maps.png') }}" alt="Google Maps">
                        </a>
                    </div>

                    <div class="w-full h-60 lg:h-auto flex flex-col justify-between">
                        <div>
                            <h6 class="marcellus mb-2 text-md font-semibold">Restaurante Dimattoni</h6>
                            <p class="marcellus">BR-101</p>
                            <p class="marcellus">São Joaquim, Itaboraí - RJ</p>
                            <p class="marcellus mb-3">CEP: 24809-234</p>
                        </div>
                        <a class="marcellus w-full text-center text-slate-50 py-2 block border rounded border-gray-300 bg-gray-200 max-w-[220px] hover:bg-gray-300 transition duration-150" href="https://maps.app.goo.gl/ZQ8hhRSevaJFWNjS7" target="_blank">
                            <img class="max-w-[100px] m-auto" src="{{ asset('images/g-maps.png') }}" alt="Google Maps">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center">
            <a class="marcellus text-md w-full text-center text-stone-800 py-2 block border border-slate-300 rounded bg-slate-200 max-w-[300px] hover:bg-slate-300 transition duration-150 flex justify-center items-center gap-3" href="{{ path('app_information') }}">
                <i class="text-md fa-solid fa-list-ul"></i>
                Mais informações
            </a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}{% endblock %}
